Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [8]:
import pandas as pd
movies = pd.read_csv('movies.csv')

In [9]:
ratings = pd.read_csv('ratings.csv')

In [10]:
moveID = ratings[ ratings.rating == 5. ].movieId.value_counts().keys().tolist()[0]
#ratings.head()

In [11]:
movies[ movies['movieId'] == moveID ]['title']

314    Shawshank Redemption, The (1994)
Name: title, dtype: object

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [12]:
power = pd.read_csv('power.csv')

In [18]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [29]:
sum(power[ ((power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia')) & ((power.year >= 2005) & (power.year <= 2010)) & (power.quantity >= 0) & ((power.category == 4) | (power.category == 12) | (power.category == 21))]['quantity'])

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [32]:
data = pd.read_html('https://fortrader.org/quotes')[1]

In [33]:
data.head()

                   Название         Цена   Изменение Изменение(%)  Обновлено
0             ВТБ Акции ВТБ     0.042905   -0.000050    -0.116401        NaN
1    Газпром Акции газпрома   200.770000       -0.07        -0.03        NaN
2       Лукойл Акции Лукойл  5646.000000  нет данных   нет данных        NaN
3   Роснефть Акции Роснефти   401.600000  нет данных   нет данных        NaN
4  Сбербанк Акции Сбербанка   232.900000        0.00         0.00        NaN